* {
  box-sizing: border-box;
  margin: 0;
}

/*
=================================
INICIALIZACIÓN
=================================
*/

@font-face {
  font-family: "Awesome";
  src: url("fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url('fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix') format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("fuentes/Roboto.ttf") format("truetype");
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

/*
=================================
HEADER
=================================
*/

header {
  height: 10vh;
  background: rgb(0, 0, 0);
  -webkit-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
  .fors {
    margin-left: -100%;
    .barra {
      height: 100vh;
      background: rgb(255, 255, 255);
      max-width: 250px;
    }
    h3 {
      padding: 5%;
      font-weight: 300;
      font-size: 2em;
      color: rgb(28, 38, 36);
      font-family: "Sans";
      font-weight: 400;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: block;
      list-style-type: none;
      padding: 2.45%;
      a {
        text-decoration: none;
        color: rgb(28, 38, 36);
        font-size: 1.5em;
        font-family: Roboto;
      }
    }
  }
  .normal {
    height: 100%;
    ul {
      padding: 1%;
    }
    .izq {
      width: 30%;
      flex-wrap: nowrap;
      .a1 {
        display: none;
      }
      li {
        a {
          span {
            font-family: "Sans";
            font-weight: 300;
            padding-left: 10%;
          }
          font-family: "Awesome";
          img {
            max-width: 200px;
          }
        }
      }
    }
    .der {
      width: 70%;
      text-align: right;
    }
    ul {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      width: 100%;
      li {
        display: inline-block;
        list-style-type: none;
        padding: 1.1%;
        a {
          text-decoration: none;
          color: white;
          font-family: Roboto;
          font-size: 1.6em;
          white-space: nowrap;
          &:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}

/*
=================================
MAIN
=================================
*/

main {
  height: 55.5vh;
  .cont {
    width: 100%;
    height: 100%;
    background-image: url('../img/fp.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
    h1 {
      font-family: "Sans";
      font-weight: 700;
      font-size: 3em;
      text-align: center;
      span {
        font-weight: 300;
      }
    }
    h2 {
      font-family: "Sans";
      font-weight: 300;
      margin-bottom: 4%;
    }
    .iniciarS {
      margin: auto;
      width: 30%;
    }
    #button {
      font-family: "Roboto";
      font-size: 1.5em;
      margin: auto;
      width: 40%;
      padding: 1%;
      text-align: center;
      border-radius: 5px;
      border: 1px solid white;
      transition: 1s linear;
      &:hover {
        background: white;
        cursor: pointer;
        color: black;
      }
    }
  }
}

section#acerca {
  background: url('../img/polaroid.png');
  .padre {
    padding: 3%;
    display: flex;
    flex-direction: row;
    text-align: center;
    img {
      width: 55%;
    }
    .cont {
      padding: 2%;
      h2{
        font-family: "Great";
        font-size: 2.9em;
      }
      span{
        font-size: 1.1em;
        font-family: "Sans";
      }
    }
  }
}

/*
=================================
RESPONSIVE WEB DESIGN
=================================
*/

@media screen and (max-width: 800px) {
  header {
    .der {
      display: none;
    }
    .normal {
      ul {
        padding: 4%;
      }
      li {
        a {
          &:hover {
            color: white;
          }
        }
      }
      .izq {
        .a1 {
          display: flex;
        }
        .a2 {
          display: none;
        }
      }
    }
  }
main {
  .cont {
    h1 {
      font-size: 2em;
      text-align: center;
    }
    h2 {
      margin-bottom: 4%;
      text-align: center;
    }
    .iniciarS {
      width: 30%;
    }
    #button {
      font-family: "Roboto";
    }
  }
}
section#acerca {
  .padre {
    flex-direction: column;
    img {
      width: 45%;
    }
    .cont {
      padding: 2%;
      h2 {
        font-family: "Great";
        font-size: 2.9em;
      }
      span {
        font-size: 1.1em;
        font-family: "Sans";
      }
    }
  }
}


}

@media screen and (max-height: 450px) {
  header {
    height: 12vh;
  }
}

@media screen and (max-height: 350px) {
  header {
    height: 14vh;
  }
}

@media screen and (min-width: 800px) and (max-height: 749px) {
  header {
    .normal {
      ul {
        .izq {
          li {
            a {
              img {
                max-width: 140px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-height: 537px) {
  header {
    .normal {
      ul {
        .izq {
          li {
            a {
              img {
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
}