*{
  box-sizing: border-box;
  margin: 0;
}

/*
=================================
INICIALIZACIÓN
=================================
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('fuente/iconos.woff2') format('woff2');
}
@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("fuentes/Roboto.ttf") format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  font-size: 1.85em;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';

}

.contenedor{
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

/*
=================================
HEADER
=================================
*/

header{
  height: 10vh;
  background: rgb(20, 33, 126);
  -webkit-box-shadow: -2px 2px 12px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 12px -4px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 12px -4px rgba(0,0,0,0.75);
  width: 100%;
  position: fixed;

  .fors{
    background: black;
    margin-left: -100%;
    .barra{
      height: 100vh;
      background: white;
      position: fixed;
      width: 60%;
      max-width: 200px;
    }
    h3{
      margin: 4%;
      font-weight: 300;
      font-size: 2em;
      color: rgb(28, 38, 36);
    }
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      display: block;
      list-style-type: none;
      padding: 5%;
      a{
        text-decoration: none;
        color: rgb(28, 38, 36);
        font-size: 1.5em;
        font-family: Roboto;
      }
    }

  }
  .normal{
    height: 100%;


    .izq{
      width: 30%;
      text-align: left;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    }

    .der{
      width: 70%;
      text-align: right;
    }

    ul{
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0;
      padding-left: 3%;
      padding-right: 3%;

      li{
        display: inline-block;
        list-style-type: none;
        padding: 2%;

        a{
          text-decoration: none;
          color: white;
          font-family: Roboto;
          font-size: 1.3em;
          white-space: nowrap;

          &:hover{
            color: black;
          }
        }
      }
    }
  }
}

/*
=================================
MAIN
=================================
*/

main{
  background: rgb(19, 35, 149);
  height: 90vh;

  .texto{
    padding: 15% 4% 1% 4%;
    font-family: Sans;
    color: white;

    .img{
      background-image: url(../img/pp.jpg);
      background-size: cover;
      width: 200px;
      height: 200px;
      margin: auto;
      border-radius: 50%;
      margin-bottom: 5%;
    }
  }

  h1{
    font-weight: 700;
    text-align: center;
    font-size: 3em;
    margin-bottom: 5%;
  }
  h3{
    font-weight: 400;
    font-size: 1.5em;

  }
}

@media screen and (max-width: 800px){
  header{
    .der{
      display: none;
    }
  }
  main{
    height: 100%;
  }
}
