* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: white;
  margin-top: 1em;
  text-align: center;
  padding: 1em;
  img{
    display: none;
    margin: auto;
    width: 35%;
  }
  h1, h3 {
    font-family: 'Roboto';
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 1em;
  }
  table {
    display: none;
    border: 1px solid black;
    width: 90%;
    margin: auto;
    font-size: 1em;
    font-family: "Roboto";
    font-weight: 300;
    border-collapse: collapse;
    text-align: center;
    margin-top: 1em;
    tr td .realizar {
      background: transparent;
      border: 1px solid rgb(63, 231, 63);
      border-radius: 5px;
      padding: 0.8em;
      color: white;
      transition: 0.5s linear;
      background: rgb(63, 231, 63);
      &:hover {
        background: white;
        color: black;
        cursor: pointer;
      }
    }
    tr td .denegar {
      background: transparent;
      border: 1px solid red;
      border-radius: 5px;
      padding: 0.8em;
      color: white;
      background: red;
      transition: 1s linear;
      &:hover {
        background: white;
        color: black;
        cursor: pointer;
      }
    }
    tr,
    th {
      padding: 1%;
      border-bottom: 1px solid black;
    }
    th {
      background: rgb(13, 13, 94);
      color: white;
    }
    th,
    td {
      border: 1px solid black;
      padding: 1%; //      background: rgb(38, 104, 204);
    }
  }
}

.padre {
  background: white;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  input[type='submit']{
    padding: 0.5em;
    width: 100%;
    max-width: 200px;
    margin: auto;
    background: rgb(0, 255, 0);
    border: 1px solid white;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.4em;
  }
  h1 {
    font-family: 'Roboto';
    font-family: 3em;
    margin-bottom: 2em;
  }
  div.pregunta {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0.5em;
    text-align: center;
    .individual {
      .pregunta {
        text-align: left;
      }
      h3 {
        font-family: 'Roboto';
        margin-bottom: 1.2em;
      }
      p {
        font-size: 1.2em;
        font-family: 'Roboto';
      }
      form {
        margin: auto;
        max-width: 650px;
        padding: 1em;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        font-size: 1.2em;
        font-family: 'Roboto';
        flex-wrap: wrap;
        .pregunta {
          input[type="checkbox"] {
            font-family: 'Roboto';
          }
        }
        textarea {
          width: 100%;
          max-width: 450px;
          font-family: 'Roboto';
          font-size: 1em;
        }
      }
    }
  }
}

.notifi {
  position: absolute;
  right: .5em;
  top: 5em;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  font-family: "Sans";
  font-weight: 300;
  background: #0ec20e;
  margin-top: -100%;
}
