*{
  margin: 0;
}

.main{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: white;
  margin-top: 1em;
  padding: 1em;
  h1{
    font-family: 'Roboto';
    font-weight: 300;
    text-align: center;
  }
  table {
    border: 1px solid black;
    width: 90%;
    margin: auto;
    font-size: 1em;
    font-family: "Roboto";
    font-weight: 300;
    border-collapse: collapse;
    text-align: center;
    margin-top: 1em;
    tr td  .realizar{
      background: transparent;
      border: 1px solid rgb(63, 231, 63);

      border-radius: 5px;
      padding: 0.8em;
      color: white;
      transition: 0.5s linear;
      background: rgb(63, 231, 63);
      &:hover{
        background: white;
        color: black;
        cursor: pointer;
      }

    }
   tr td .denegar {
     background: transparent;
     border: 1px solid red;
     border-radius: 5px;
     padding: 0.8em;
     color: white;
     background: red;
     transition: 1s linear;
      &:hover {
        background: white;
        color: black;
        cursor: pointer;
      }

    }

    tr,
    th {
      padding: 1%;
      border-bottom: 1px solid black;
    }
    th {
      background: rgb(13, 13, 94);
      color: white;
    }
    th,
    td {
      border: 1px solid black;
      padding: 1%; //      background: rgb(38, 104, 204);
    }
  }

}
