<div class="main">
  <br>
  <br>
  <h1>Encuestas pendientes por responder</h1>
  <table *ngIf="datostabla">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Fecha máxima</th>
      <th>Acción</th>
    </tr>
    <tr *ngFor="let item of listado; let i = index">
      <td>{{item.idEncuesta}} </td>
      <td>{{item.Nombre}}</td>
      <!-- <td>{{item.Fecha}}</td> -->
      <td>{{item.FechaCierre}}</td>
      <td>
        <button (click)="show(i)" class="realizar">REALIZAR</button>
        <button class="denegar">IGNORAR</button>
      </td>

    </tr>
  </table>
</div>
<div class="padre" *ngIf="encuesta">
  <div class="pregunta"  *ngFor="let item of listado; let i = index">
    <div class="individual">
      <div class="if {{item.TipoPregunta}}" *ngIf="item.TipoPregunta == 'tp2'">
        <form class = "{{item.idPregunta}}">
          <h3>{{i+1}}. {{item.Pregunta}}</h3>
          <div class="pregunta ">
            <input *ngIf="item.Respuesta1 != ''" type="checkbox" name="1" value="{{item.Respuesta1}}">
            <label for="{{item.Respuesta1}}">{{item.Respuesta1}}</label>
          </div>
          <div class="pregunta">
            <input *ngIf="item.Respuesta2 != ''" type="checkbox" name="2" value="{{item.Respuesta2}}"> {{item.Respuesta2}}

          </div>
          <div class="pregunta">
            <input *ngIf="item.Respuesta3 != ''" type="checkbox" name="3" value="{{item.Respuesta3}}"> {{item.Respuesta3}}

          </div>
          <div class="pregunta">
            <input *ngIf="item.Respuesta4 != ''" type="checkbox" name="4" value="{{item.Respuesta4}}"> {{item.Respuesta4}}

          </div>
          <div class="pregunta">
            <input *ngIf="item.Respuesta5 != ''" type="checkbox" name="5" value="{{item.Respuesta5}}"> {{item.Respuesta5}}

          </div>
          <br>
          <br>
        </form>
      </div>
      <div class="if" *ngIf="item.TipoPregunta == 'tp1'">
        <form>
          <div class="pregunta">
            <h3>{{i+1}}. {{item.Pregunta}}</h3>
            <textarea name="text" id="{{item.idPregunta}}" cols="20" rows="10" placeholder="Respuesta"></textarea>
          </div>
          <br>
          <br>
        </form>
      </div>
      <div class="if" *ngIf="item.TipoPregunta == 'tp3'">
        <form>
          <div class="pregunta">
            <h3>{{i+1}}. {{item.Pregunta}}</h3>
            <div class="pregunta">
              <input *ngIf="item.Respuesta1 != ''" type="radio" name="{{item.idPregunta}}" value="{{item.Respuesta1}}">
              <label for="{{item.Respuesta1}}">{{item.Respuesta1}}</label>
            </div>
            <div class="pregunta">
              <input *ngIf="item.Respuesta2 != ''" type="radio" name="{{item.idPregunta}}" value="{{item.Respuesta2}}"> {{item.Respuesta2}}

            </div>
            <div class="pregunta">
              <input *ngIf="item.Respuesta3 != ''" type="radio" name="{{item.idPregunta}}" value="{{item.Respuesta3}}"> {{item.Respuesta3}}

            </div>
            <div class="pregunta">
              <input *ngIf="item.Respuesta4 != ''" type="radio" name="{{item.idPregunta}}" value="{{item.Respuesta4}}"> {{item.Respuesta4}}

            </div>
            <div class="pregunta">
              <input *ngIf="item.Respuesta5 != ''" type="checkbox" name="{{item.idPregunta}}" value="{{item.Respuesta5}}"> {{item.Respuesta5}}

            </div>

          </div>
          <br>
          <br>
        </form>
      </div>
      
    </div>
    
  </div>
  <input type="submit" value="Enviar" (click) = "enviarRespuesta()">

</div>
<div class="notifi">
  ¡Usuario insertado con éxito!
</div>
