* {
    box-sizing: border-box;
  }

#bar{
    width: 100%;
    height: 9ex;
    background-color: #1f4daf;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1.2px 3px 0px rgba(0, 0, 0, 0.75);
}

#whth{
    width: 65%;
    height: 9ex;
    position: fixed;
    background-color: white;
}

#smyh{
    border: none;
}

h1{
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    justify-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 1%;
    margin: 0;
    font-family: 'Sans';
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
}

.general{
    padding-top: 2.5ex;
    padding-bottom: 1ex;
    padding-left: 8ex;
    padding-right: 10ex;
    float: center;
}

.general .inside{
    background-color: white;
    border-radius: 2ex;
    width: 100%;
    height: 100%;
    float: none;
    clear: both;
}

.general .inside .slider{
    width: 20%;
    height: 65ex;
    overflow-y: scroll;
    margin-left: 0px;
}

#search{
    width: 80%;
    margin-top: 2ex;
    margin-left: 40%;
    float: right;
}

.general .inside .slider .bttn{
    width: 100%;
    height: auto;
    background-color: white;
    text-transform: capitalize;
    text-transform: uppercase;
    border: transparent;
    vertical-align: middle;
    float: center;
}

#nme{
    float: right;
    width: 80%;
    text-align: left;
    vertical-align: middle;
}

#word{
    float: left;
    width: 20%;
    height: auto;
    margin-top: 0%;
    vertical-align: middle;
    background-color: cornflowerblue;
    vertical-align: middle;
}

#excel{
    float: left;
    width: 20%;
    height: auto;
    margin-top: 0%;
    vertical-align: middle;
    background-color: rgb(24, 153, 35);
    vertical-align: middle;
}

#pdf{
    float: left;
    width: 20%;
    height: auto;
    margin-top: 0%;
    vertical-align: middle;
    background-color: rgb(236, 38, 38);
    vertical-align: middle;
}