<div id="bar">
  <div id="whth">
    <h1>
        Gestión de procesos
    </h1>
  </div>
</div>
<div class="general">
  <div class="inside">
    <div id="slider">
      <p>Doc 1</p><br/>
      <p>Doc 2</p><br/>
      <p>Doc 3</p><br/>
      <p>Doc 4</p><br/>
      <p>Doc 5</p><br/>
      <p>Doc 6</p><br/>
      <p>Doc 7</p><br/>
      <p>Doc 8</p><br/>
      <p>Doc 9</p><br/>
      <p>Doc 10</p><br/>
      <p>Doc 11</p><br/>
      <p>Doc 12</p><br/>
      <p>Doc 13</p><br/>
      <p>Doc 14</p><br/>
      <p>Doc 15</p><br/>
      <p>Doc 16</p><br/>
    </div>
  </div>
</div>