<div class="contenedor">
  <div class="quehay">
    <h1>
      Bienvenido a la gestión de seccionales y cargos
    </h1>
  </div>
  <div class="padre">
    <a (click)="semidesk = 1">
      <div class="boton1 color2">
        <p id="icon">
          <img src="assets/img/build.png" alt="">
        </p>
        <p id="comuni">Ver usuarios</p>
      </div>
    </a>
    <a (click)="semidesk = 2">
      <div class="boton1 color2">
        <p id="icon">
          <img src="assets/img/users.png" alt="">
        </p>
        <p id="comuni">Ver usuarios</p>
      </div>
    </a>
  </div>
</div>
