<!--The content below is only a placeholder and can be replaced.-->
<main>
  <div class="lat">
    <img src="../assets/img/sgc.png" alt="">
    <a href="#"><button> <span></span> Inicio</button></a>
    <a href="#"><button> <span></span> Cuenta</button></a>
    <a href="#"><button> <span></span> Gestionar</button></a>
    <a href="#"><button> <span></span> Cerrar sesión</button></a>


  </div>
  <div class="der">
    <div class="buscador">
      <form action="/action_page.php" method="get">
        <input type="text" name="fname" placeholder="Busca cosas, menús, el mundo entero.">
    </form>
    </div>
    <div class="user">
      <div class="img">

      </div>
      <div class="name">
        <div class="conte">
          
        <h2>{{nombre}}</h2>
        
        <p>{{cargo}}</p>

        </div>
      </div>
    </div>
  </div>
</main>

