*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
}
main{
    display: flex;
    .lat{
        width: 30%;
        background: black;
        height: 100vh;
    }
    .der{
        width: 70%;
        background: blue;
    }
}