<main>
  <div class="contenedor">
    <div class="quehay">
      <h1>
        Bienvenido a tu Perfil
      </h1>
    </div>
    <div class="padre">
        <a  (click)="semidesk = 1">
            <button class="boton1 color2">
                <p id="icon"></p>
              <p id="comuni">Editar Datos</p>
            </button>
          </a>
      <a  (click)="semidesk = 1">
        <button class="boton1 color2">
            <p id="icon"></p>
          <p id="comuni">Editar Datos</p>
        </button>
      </a>

      <a  (click)="closeSession()">
        <button class="boton1 color2">
            <p id="icon"></p>
          <p id="comuni">Cerrar sesión</p>
        </button>
      </a>
    </div>
  </div>
  <div class="content" *ngIf = "this.semidesk == 1">
    <app-userconfig></app-userconfig>
  </div>
  <div class="content" *ngIf = "this.semidesk == 2">
    <app-poll></app-poll>
  </div>
</main>

