@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
=================================
INICIALIZACIÓN
=================================
*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fuente/iconos.woff2") format("woff2");
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url("fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fuentes/Roboto.ttf") format("truetype");
}

body {
  background-image: url("../img/dust_scratches.png");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  font-size: 1.85em;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.contenedor {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  z-index: 1;
}

header .barra {
  height: 100vh;
  display: none;
  position: fixed;
  background: white;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  max-width: 290px;
  z-index: 2;
  border-right: 1px solid rgba(0, 0, 0, 0.514);
}

header .barra img {
  width: 100%;
  max-width: 150px;
  margin: auto;
  margin-top: 1em;
}

header .barra .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header .barra .top p {
  margin-left: 0.5em;
  font-size: 1.25em;
  font-weight: 300;
}

header .barra .top i {
  margin-left: 0.5em;
  font-size: 1.6em;
}

header .barra nav {
  margin-top: 2em;
}

header .barra nav #Especial {
  border-top: 1px solid black;
}

header .barra nav li {
  list-style-type: none;
  padding: 2%;
  border-bottom: 1px solid black;
}

header .barra nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.22em;
}

header nav.pequeña {
  display: none;
  padding: 4%;
  width: 100%;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav.pequeña p {
  font-family: 'Raleway';
  margin-left: 1em;
}

header nav.grande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  color: black;
  position: fixed;
  width: 100%;
}

header nav.grande .izq {
  width: 30%;
  padding: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav.grande .izq p {
  margin-left: .5em;
  font-family: 'Raleway';
}

header nav.grande .izq img {
  width: 17%;
  margin-left: 0.45em;
  max-width: 55px;
  min-width: 55px;
}

header nav.grande .der {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header nav.grande .der li {
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  height: 100%;
  width: 100%;
  max-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  border-left: 6px solid transparent;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header nav.grande .der li:hover .ca a {
  color: white;
}

header nav.grande .der li:hover {
  background: black;
  cursor: pointer;
  border-color: #05e450;
}

header nav.grande .der li .ca {
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

header nav.grande .der li .ca a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway';
}

header nav.grande .der #first {
  margin-right: 0.7em;
}

@media screen and (max-width: 560px) {
  #der .textabout .contenedor #navGrande {
    display: none;
  }
  #der .textabout .contenedor .me .contenido {
    margin-top: 46em;
  }
  header nav.pequeña {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100%r;
  }
}

.borroso {
  z-index: 3;
  height: 100vh;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background: rgba(0, 0, 0, 0.993);
}

main {
  background: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: relative;
  height: 50vh;
}

main .imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: auto;
}

#der .textabout {
  background: url("../img/fondito.png");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#der .textabout .contenedor {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

#der .textabout .contenedor #navGrande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  color: white;
}

#der .textabout .contenedor #navGrande .izq {
  width: 30%;
  padding: 0.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#der .textabout .contenedor #navGrande .izq p {
  margin-left: .5em;
  font-family: 'Raleway';
  font-size: 1.5em;
}

#der .textabout .contenedor #navGrande .izq img {
  margin-left: 0.45em;
  max-width: 100px;
  min-width: 100px;
}

#der .textabout .contenedor #navGrande .der {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

#der .textabout .contenedor #navGrande .der li {
  padding: 1%;
  padding-left: 8%;
  padding-right: 8%;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  height: 100%;
  width: 100%;
  max-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  border-left: 6px solid transparent;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  color: white;
}

#der .textabout .contenedor #navGrande .der li:hover .ca a {
  color: white;
}

#der .textabout .contenedor #navGrande .der li:hover {
  background: black;
  cursor: pointer;
  border-color: #05e450;
}

#der .textabout .contenedor #navGrande .der li .ca {
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
}

#der .textabout .contenedor #navGrande .der li .ca a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway';
  font-size: 1.5em;
}

#der .textabout .contenedor #navGrande .der #first {
  margin-right: 0.7em;
}

#der .textabout .contenedor .me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#der .textabout .contenedor .me .contenido {
  margin-top: -12em;
  text-align: center;
}

#der .textabout .contenedor .me .contenido img {
  max-width: 170px;
  max-height: 170px;
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.856);
}

#der .textabout .contenedor .me .contenido h1,
#der .textabout .contenedor .me .contenido h2 {
  text-align: center;
  color: white;
  font-family: 'Raleway';
}

#der .textabout .contenedor .me .contenido h1 {
  font-size: 2.5em;
  padding-top: 0.45em;
}

#der .textabout .contenedor .me .contenido .iconos {
  margin: auto;
  max-width: 40em;
  border-top: 1px solid white;
  margin-top: 1em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 4em;
  width: 100%;
}

#der .textabout .contenedor .me .contenido .iconos a {
  margin: 1%;
  text-decoration: none;
  text-align: center;
}

#der .textabout .contenedor .me .contenido .iconos a i {
  color: white;
  font-size: 1.9em;
}

#der .titleabout {
  background-color: white;
}

#der .titleabout .text {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  font-family: 'Josefin';
  font-size: 2em;
  padding-bottom: 0.6em;
  letter-spacing: 1.2em;
  padding-top: 1em;
}

#der .titleabout .contenido {
  background: url("../img/arboles.png");
  background-size: cover;
  background-position: center;
}

#der .titleabout .contenido .padre {
  max-width: 1200px;
  margin: auto;
  padding: 3%;
  width: 100%;
  display: block;
  text-align: center;
  text-align: center;
  color: white;
}

#der .titleabout .contenido .padre .foto {
  width: 100%;
}

#der .titleabout .contenido .padre .foto img {
  width: 15%;
  min-width: 136px;
  opacity: 1;
  border-radius: 100%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  border: 6px solid rgba(255, 255, 255, 0.342);
}

#der .titleabout .contenido .padre .foto img:hover {
  opacity: .8;
  border-color: rgba(255, 255, 255, 0.384);
  cursor: pointer;
}

#der .titleabout .contenido .padre h2 {
  margin-bottom: 1em;
  font-family: 'Raleway';
}

#der .titleabout .contenido .padre p {
  padding: 2%;
  font-family: 'Raleway';
  text-align: justify;
  font-size: 1.1em;
  margin-top: 1em;
}

@media screen and (max-width: 620px) {
  #der .titleabout .text {
    letter-spacing: 0.5em;
  }
}

@media screen and (max-width: 560px) {
  #der .textabout .contenedor #navGrande {
    display: none;
  }
}

@media screen and (max-width: 560px) {
  #der .textabout .contenedor .me .contenido {
    margin-top: 4em;
  }
}

#der .caja {
  background: url("../img/bombillas.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#der .caja .contenido {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
}

#der .caja .contenido .sub {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  width: 20%;
  min-width: 162px;
  text-align: center;
}

#der .caja .contenido .sub .foto {
  text-align: center;
}

#der .caja .contenido .sub .foto img {
  width: 100%;
  max-width: 110px;
  margin: auto;
}

#der .caja .contenido .sub .text {
  color: white;
  font-family: 'Raleway';
}

#der .caja .contenido .sub .text h2 {
  margin-top: 0.6em;
}

#der .skills .contenido {
  max-width: 1200px;
  margin: auto;
  padding: 1%;
}

#der .skills .contenido .top {
  padding: 2%;
  width: 100%;
  font-family: 'Raleway';
  text-align: center;
}

#der .skills .contenido .top h2 {
  margin-top: 1.54em;
  margin-bottom: 1em;
  font-weight: 300;
  font-size: 2em;
}

#der .skills .contenido .top p {
  text-align: justify;
  margin-bottom: 1.54em;
  max-width: 800px;
  margin: auto;
  padding: 4%;
}

#der .skills .contenido .botton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#der .skills .contenido .botton .izq, #der .skills .contenido .botton .der {
  width: 50%;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#der .skills .contenido .botton .izq .porcentajes, #der .skills .contenido .botton .der .porcentajes {
  width: 100%;
}

#der .skills .contenido .botton .izq .porcentajes h2, #der .skills .contenido .botton .der .porcentajes h2 {
  font-family: 'Raleway';
  font-weight: 600;
}

#der .skills .contenido .botton .izq .porcentajes div, #der .skills .contenido .botton .der .porcentajes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

#der .skills .contenido .botton .izq .porcentajes div .percent, #der .skills .contenido .botton .der .porcentajes div .percent {
  text-align: right;
}

#der .skills .contenido .botton .izq .porcentajes h3, #der .skills .contenido .botton .der .porcentajes h3 {
  width: 50%;
  color: rgba(66, 65, 65, 0.9);
  font-family: 'Raleway';
}

#der .skills .contenido .botton .izq .porcentajes .progress-bar, #der .skills .contenido .botton .der .porcentajes .progress-bar {
  width: 0%;
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#4cd969), color-stop(#5ac8fa), color-stop(#0084ff), color-stop(#34aadc), color-stop(#5856d9), to(#ff2d53));
  background: linear-gradient(to right, #4cd969, #5ac8fa, #0084ff, #34aadc, #5856d9, #ff2d53);
  margin-top: 10px;
  background-size: 100% 5px;
  border-radius: 10px;
}

@media screen and (max-width: 620px) {
  #der .skills .contenido .botton {
    display: block;
  }
  #der .skills .contenido .botton .izq, #der .skills .contenido .botton .der {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */