.papa {
  width: 100%;
  max-width: 1200px;
  background: white;
  margin: auto;
  border-radius: 10px;
  padding: 2%;
  margin-top: 1em;
  display: flex;
  font-family: "Sans";
  font-weight: 300;
  transition: 1s linear;
  .izq {
    text-align: center;
    width: 50%;
    h2 {
      font-family: "Sans";
      font-weight: 300;
      font-size: 2em;
    }
    .botton {
      p {
        font-size: 1em;
      }
      font-size: 1em;
    }
    .botton{
      background: black;
      padding: 1.5%;
      max-width: 350px;
      border-radius: 10px;
      margin: auto;
      margin-top: 10px;
      color: white;

    }
    input[type="number"]{
      padding: 2%;
      width: 100%;
      max-width: 300px;
      border: 1px solid transparent;
      font-size: 1em;
      border-bottom: 1px solid black;
    }
    form button{
      background: black;
      color: white;
      border: 1px solid white;
      padding: 2%;
      font-size: 1em;
      font-family: "Sans";
      font-weight: 300;
      width: 100%;
      max-width: 400px;
      border-radius: 10px;

    }
  }
  .der {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    border-left: 1px solid rgb(90, 90, 90);
  }
  .info {
    margin-top: 1.5em;
    input[type="text"],
    input[type="email"],
    input[type="number"] {
      width: 100%;
      max-width: 450px;
      margin-top: 1%;
      margin-bottom: 1.5%;
      padding: 1%;
      font-size: 1em;
      font-family: "Sans";
      font-weight: 300;
      border: 1px solid transparent;
      border-bottom: 1px solid rgb(97, 97, 97);
    }
    input[type="radio"] {
      margin-bottom: 1em;
      margin-top: 1em;
    }
    input[type="submit"] {
      font-size: 1em;
      font-family: "Sans";
      font-weight: 300;
      background: black;
      padding: 2%;
      border-radius: 5px;
      width: 100%;
      max-width: 450px;
      color: black;
      border: 1px solid white;
      color: white;
      cursor: pointer;
    }
    select {
      font-size: 1em;
      font-family: "Sans";
      font-weight: 300;
      padding: 1%;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
}
.notifi {
  position: absolute;
  right: .5em;
  top: 5em;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  font-family: "Sans";
  font-weight: 300;
  background: rgb(14, 194, 14);
  margin-top: -100%;
}

