<div class="papa">
  <div class="izq">
    <h2>
      Buscar usuario
    </h2>
    <form>
      <input type="number" name="cc" id="cc" required placeholder="Cédula del usuario">
      <div class="botton" (click)="busca()">
        Buscar
      </div>
    </form>

    <div class="info" *ngIf="visible">
      <h2>
        Modificar usuario
      </h2>
      <form id="formulario" method="POST">
        <input type="number" name="cedula" id="cedula" placeholder="Cedula" required>
        <input type="text" name="nombre" id="nombre" placeholder="Nombres" required>
        <input type="text" name="apellido" id="apellido" placeholder="Apellidos" required>
        <input type="email" name="correo" id="correo" placeholder="Correo electrónico" required>
        <input type="number" name="telefono" id="telefono" placeholder="Teléfono" required>
        <input type="text" name="direccion" id="direccion" placeholder="Dirección" required>
        <input type="number" name="numero" id="numero" placeholder="Número fijo" required>
        <br>
        <input type="radio" name="gender" value="male" checked> Male
        <input type="radio" name="gender" value="female"> Female
        <input type="radio" name="gender" value="other"> Other
        <br>
        <select id='listado'>
          <option *ngFor="let item of listado" value="kieroiraksa">{{item.nombre}}</option>
        </select>
        <select id='listado2'>
          <option *ngFor="let item of listado2" value="kieroiraksa2">{{item.ciudad}}</option>
        </select>
        <br>
        <button (click)="$event.stopPropagation();">Actualizar </button>
      </form>
    </div>
  </div>

  <div class="der">
    <div class="img">

      <img src="../../../assets/img/digital_transformation.png" alt="">
    </div>
  </div>

</div>
<div class="notifi">
  ¡Usuario insertado con éxito!
</div>
