  * {
    box-sizing: border-box;
  }

  .contenedor {
    display: flex;
    width: 100%;
    -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1.2px 3px 0px rgba(0, 0, 0, 0.75);
    .quehay {
      width: 65%;
      background: white;
      h1 {
        display: flex;
        justify-content: left;
        align-content: center;
        align-items: center;
        vertical-align: middle;
        justify-items: center;
        flex-wrap: wrap;
        height: 100%;
        padding: 1%;
        margin: 0;
        font-family: 'Sans';
        font-weight: 300;
        font-size: 1.5em;
        text-transform: uppercase;
      }
    }
    .padre {
      width: 35%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      background: white;
      a {
        text-decoration: none;
        .color2 {
          border: 1px solid transparent;
          background: #1f4daf;
          &:focus {
            background: black;
          }
          &:hover {
            background: black;
            transition: 1s linear;
            cursor: pointer;
            p#comuni {
              display: block;
            }
          }
          &:active {
            background: black;
          }
          p#name {
            background: #1E88E5;
          }
          p#comuni {
            position: absolute;
            font-size: 0.25em;
            margin-top: 3.45em;
            font-family: Roboto;
            color: black;
            display: none;
            transition: 1s linear;
          }
        }
        .color {
          background: #FF0022;
          p#name {
            background: #651FFF;
          }
        }
        .boton1 {
          display: flex;
          justify-items: center;
          align-items: center;
          font-family: "Awesome";
          font-size: 3.8em;
          color: white;
          text-align: center;
          width: 100%;
          height: 100%; //  border-right: 0.001em solid white;
          p#icon {
            img {
              width: 60%;
              min-width: 37px;
              max-width: 77px;
            }
            margin: 0;
          }
          p#name {
            margin: 0;
            font-size: 0.3em;
            padding: 1.5%;
            padding-right: 0.3em;
            padding-left: 0.3em;
            font-family: "Sans";
            font-weight: 300;
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .contenedor {
      .quehay{
        display: none;
      }
      .padre{
width: 100%;
      }
    }
  }
