@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
    font-family: "Sans";
    src: url("../fuentes/Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  header {
    position: fixed;
    background: black;
    width: 100%;
    height: 70px;
  }

  main {
      position: fixed   ;
      border-color: black;
      margin:80px 10% 0% 0%;
      width: 100%;
      font: 1em sans-serif;
      text-align: center;
  }

  main .psswd{
      color: black;
      font: 2.5em "Amaranth";
      padding: 10px;
      border: solid 1px black;
      text-align: center;
  }