@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
    font-family: "Sans";
    src: url("../fuentes/Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  header {
    position: fixed;
    background: black;
    width: 80%;
    height: 70px;
    margin:0% 0% 10% 10%;
  }

  main {
      position: fixed   ;
      margin:80px 0% 10% 10%;
      padding: 4% 4% 10% 10%;
      width: 80%;
      height: 73%;
      font: 1em sans-serif;
      text-align: center;
      border: solid 1px black;
  }

  main .psswd{
      color: black;
      font: 2em "Amaranth";
      padding: 10px;
      border: solid 1px black;
      text-align: center;
  }

  footer{
    position: absolute;
    color: white;
    background: black;
    width: 80%;
    height: 80px;
    right: 10%;
    bottom: 0;
    left: 10%;
    align-content: center;
    text-align: center;
    font: 1em "Amaranth";
  }