@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
    font-family: "Sans";
    src: url("../fuentes/Sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  header {
    position: fixed;
    background: black;
    width: 100%;
    height: 90px;
  }

  main {
      position: fixed   ;
      border-color: black;
      margin: 95px 10% 0% 0%;
      width: 100%;
      font: 1em sans-serif;
      text-align: center;
  }

  psswd{
      border-color: black;
      -webkit-text-stroke: 4px black;
  }