@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
}

/*
=================================
INICIALIZACIÓN
=================================
*/
@font-face {
  font-family: "Awesome";
  src: url("../fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("../fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url("../fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fuentes/Roboto.ttf") format("truetype");
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

/*
=================================
HEADER
=================================
*/
header {
  height: 10vh;
  background: black;
  -webkit-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  width: 100%;
}

header .fors {
  margin-left: -100%;
  position: fixed;
  transition: .7s linear;
}

header .fors .barra {
  height: 100vh;
  background: white;
  max-width: 250px;
  min-width: 230px;
}

header .fors h3 {
  padding: 5%;
  font-weight: 300;
  font-size: 2em;
  color: #1c2624;
  font-family: "Sans";
  font-weight: 400;
}

header .fors ul {
  margin: 0;
  padding: 0;
}

header .fors li {
  display: block;
  list-style-type: none;
  padding: 2.45%;
}

header .fors li a {
  text-decoration: none;
  color: #1c2624;
  font-size: 1.5em;
  font-family: Roboto;
}

header .normal {
  height: 100%;
}

header .normal ul {
  padding: 1%;
}

header .normal .izq {
  width: 30%;
  flex-wrap: nowrap;
}

header .normal .izq .a1 {
  display: none;
}

header .normal .izq li a {
  font-family: "Awesome";
}

header .normal .izq li a span {
  font-family: "Sans";
  font-weight: 300;
  padding-left: 10%;
}

header .normal .izq li a img {
  max-width: 200px;
}

header .normal .der {
  width: 70%;
  text-align: right;
}

header .normal ul {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}

header .normal ul li {
  display: inline-block;
  list-style-type: none;
  padding: 1.1%;
}

header .normal ul li a {
  text-decoration: none;
  color: white;
  font-family: Roboto;
  font-size: 1.6em;
  white-space: nowrap;
}

header .normal ul li a:hover {
  color: white;
}

/*
=================================
MAIN
=================================
*/
main {
  height: 90vh;
}

main .cont {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../../img/fp.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 12px -4px rgba(0, 0, 0, 0.75);
}

main .cont .e {
  height: 100%;
  display: flex;
}

main .cont .e #e1, main .cont .e #e4, main .cont .e #e3 {
  display: none;
  transition: 1s linear;
}

main .cont .e #e1 .nav, main .cont .e #e4 .nav, main .cont .e #e3 .nav {
  width: 100%;
}

main .cont .e #e1 .nav p, main .cont .e #e4 .nav p, main .cont .e #e3 .nav p {
  font-family: "Awesome";
  font-size: 2em;
}

main .cont .e #e1 p, main .cont .e #e4 p, main .cont .e #e3 p {
  font-family: "Awesome";
  text-align: center;
  font-size: 3.3em;
}

main .cont .e #e2, main .cont .e #e1, main .cont .e #e3, main .cont .e #e4 {
  transition: 1s linear;
}

main .cont .e #e2 .nav, main .cont .e #e1 .nav, main .cont .e #e3 .nav, main .cont .e #e4 .nav {
  bottom: 0;
  width: 100%;
}

main .cont .e #e2 .nav .c1, main .cont .e #e1 .nav .c1, main .cont .e #e3 .nav .c1, main .cont .e #e4 .nav .c1 {
  color: black;
}

main .cont .e #e2 .nav p, main .cont .e #e1 .nav p, main .cont .e #e3 .nav p, main .cont .e #e4 .nav p {
  font-family: "Awesome";
  font-size: 2em;
  margin-top: 10%;
  word-spacing: 1em;
  width: 100%;
}

main .cont h1 {
  font-family: "Sans";
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
}

main .cont h1 span {
  font-weight: 300;
}

main .cont h2 {
  font-family: "Sans";
  font-weight: 300;
  margin-bottom: 4%;
}

main .cont .iniciarS {
  margin: auto;
  width: 30%;
}

main .cont a {
  text-decoration: none;
  color: white;
}

main .cont a #button {
  font-family: "Roboto";
  font-size: 1.5em;
  margin: auto;
  width: 40%;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  transition: 1s linear;
}

main .cont a #button:hover {
  background: white;
  cursor: pointer;
  color: black;
}

section#acerca {
  background: url("../../img/new.png");
  background-size: cover;
  background-position: center;
}

section#acerca h2 {
  color: white;
  text-align: center;
  font-size: 3.7em;
  padding: 2%;
  font-family: "Roboto";
  font-weight: 300;
}

section#acerca .padre {
  padding: 1.6%;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white;
}

section#acerca .padre img {
  width: 55%;
}

section#acerca .padre .cont {
  padding: 1%;
}

section#acerca .padre .cont h2 {
  font-family: "Roboto";
  font-size: 2.9em;
}

section#acerca .padre .cont span {
  font-size: 1.1em;
  font-family: "Sans";
}

section#contacto {
  background: url("../../img/circles-and-roundabouts.png");
}

section#contacto h2 {
  text-align: center;
  font-family: "Sans";
  font-weight: 300;
  padding-bottom: 2%;
  font-size: 3em;
}

section#contacto .padre {
  padding: 5%;
  display: flex;
}

section#contacto .padre .img {
  width: 44%;
  margin-right: 2%;
}

section#contacto .padre .img img {
  width: 60%;
  border-radius: 3%;
}

section#contacto .padre .img h2 {
  font-size: 3.5em;
  font-family: "Sans";
  font-weight: 300;
  margin-bottom: 1%;
  text-align: left;
}

section#contacto .padre .img h4 {
  font-family: "Sans";
  font-weight: 300;
  font-size: 1.3em;
  margin-bottom: 10%;
  text-align: left;
}

section#contacto .padre .cont {
  padding: 5%;
  width: 50%;
  background: white;
  border: 1px solid black;
  border-radius: 2.5%;
}

section#contacto .padre .cont h2 {
  font-family: "Sans";
  font-weight: 300;
  margin-bottom: 7%;
}

section#contacto .padre .cont input[type="text"],
section#contacto .padre .cont input[type="email"],
section#contacto .padre .cont textarea {
  width: 100%;
  padding: 2%;
  font-size: 1em;
  font-family: "Josefin";
  margin-bottom: 5%;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
}

section#contacto .padre .cont input[type="submit"] {
  background: black;
  color: white;
  border: 1px solid transparent;
  text-align: center;
  font-size: 1.3em;
  border: 1px solid black;
  padding: 3%;
  font-family: "Josefin";
  border-radius: 1.5%;
  margin: auto;
  width: 100%;
  margin-top: 3%;
  cursor: pointer;
}

section#contacto .padre .cont input[type="submit"]:hover {
  opacity: .7;
}

section#contacto .padre .cont .alert {
  background: #39fc08;
  color: white;
  padding: 2%;
  text-align: center;
  font-family: "Sans";
  font-size: .9em;
  border-radius: 4px;
  transition: 1s linear;
  display: none;
}

footer {
  background: black;
  color: white;
}

footer iframe {
  width: 100%;
}

footer .creditos {
  text-align: center;
  padding: 2%;
  font-size: .8em;
  font-family: "Sans";
}

/*
=================================
RESPONSIVE WEB DESIGN
=================================
*/
@media screen and (max-width: 800px) {
  header {
    position: fixed;
  }
  header .der {
    display: none;
  }
  header .normal ul {
    padding: 4%;
  }
  header .normal li a:hover {
    color: white;
  }
  header .normal .izq .a1 {
    display: flex;
  }
  header .normal .izq .a2 {
    display: none;
  }
  main .cont h1 {
    margin-top: 10%;
    font-size: 2em;
    text-align: center;
  }
  main .cont h2 {
    margin-bottom: 4%;
    text-align: center;
  }
  main .cont .iniciarS {
    width: 30%;
  }
  main .cont #button {
    font-family: "Roboto";
  }
  section#acerca .padre {
    flex-direction: column;
  }
  section#acerca .padre img {
    width: 45%;
  }
  section#acerca .padre .cont {
    padding: 2%;
  }
  section#acerca .padre .cont h2 {
    font-family: "Great";
    font-size: 2.9em;
  }
  section#acerca .padre .cont span {
    font-size: 1.1em;
    font-family: "Sans";
  }
  section#contacto .padre {
    flex-direction: column;
  }
  section#contacto .padre .img {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  section#contacto .padre .cont {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
}

@media screen and (max-height: 450px) {
  header {
    height: 12vh;
  }
}

@media screen and (max-height: 350px) {
  header {
    height: 14vh;
  }
}

@media screen and (min-width: 800px) and (max-height: 749px) {
  header .normal ul .izq li a img {
    max-width: 140px;
  }
}

@media screen and (min-width: 800px) and (max-height: 537px) {
  header .normal ul .izq li a img {
    max-width: 100px;
  }
}

@media screen and (max-height: 410px) {
  main {
    height: 100vh;
  }
}

@media screen and (max-width: 1400px) {
  header .normal ul .der li a {
    font-size: 1.3em;
  }
  main .cont .contenedor h1 {
    font-size: 2.2em;
  }
  main .cont .contenedor h2 {
    font-size: 1.3em;
  }
  section#acerca .contenedor .padre {
    padding: 0.6%;
  }
  section#acerca .contenedor .padre .cont h2 {
    font-size: 2.2em;
  }
  section#acerca .contenedor .padre .cont img {
    width: 40%;
  }
  section#acerca .contenedor .padre .cont span {
    font-size: 1em;
  }
  section#contacto .contenedor .padre .cont h2 {
    font-size: 2.15em;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
/*# sourceMappingURL=style.css.map */