@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/*
=================================
INICIALIZACIÓN
=================================
*/
@font-face {
  font-family: "Awesome";
  src: url("../fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("../fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("../fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url("../fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../fuentes/Roboto.ttf") format("truetype");
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

/*
=================================
HEADER
=================================
*/
header {
  background: #00002b;
  padding-bottom: 2em;
  padding-top: 0.5em;
}

header .barra {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: none;
  color: white;
  padding: 1em 0.5em 2em 0.5em;
  font-size: 1.73em;
  font-family: 'Roboto';
}

header .barra .derecho {
  width: 50%;
  text-align: right;
  font-family: 'Awesome';
}

header .barra .izquierdo {
  width: 50%;
  text-align: left;
}

header .barraFixed {
  display: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background: white;
  width: 100%;
  color: black;
  position: fixed;
  padding: 0.6em;
  font-size: 1.73em;
  font-family: 'Roboto';
}

header .barraFixed .derecho {
  width: 50%;
  text-align: right;
  font-family: 'Awesome';
}

header .barraFixed .izquierdo {
  width: 50%;
  text-align: left;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav li {
  padding: 1%;
  font-family: "Roboto";
  list-style-type: none;
}

header nav li a {
  font-family: 'Sans';
  font-size: 1.6em;
  color: white;
  font-weight: 400;
  text-decoration: none;
}

section#main {
  padding: 0;
  margin: 0;
  background: #00002B;
  color: white;
  padding-bottom: 1em;
}

section#main .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
}

section#main .contenedor .padre .izquierdo {
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main .contenedor .padre .izquierdo h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 3em;
}

section#main .contenedor .padre .izquierdo p {
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.3em;
  opacity: .7;
}

section#main .contenedor .padre .izquierdo button {
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 1.3em;
  max-width: 200px;
  background: #0099FF;
  color: white;
  border-color: transparent;
  border-radius: 20px;
  font-weight: 300;
  font-family: 'Sans';
}

section#main .contenedor .padre .izquierdo button a {
  color: white;
  text-decoration: none;
}

section#main .contenedor .padre .derecho {
  width: 50%;
  text-align: right;
}

section#main .r {
  padding: 0;
}

section#main .r img {
  width: 100%;
  height: 100%;
}

section#about {
  background: white;
}

section#about .contenedor .padre {
  padding: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about .contenedor .padre .caja img {
  max-height: 183.59px;
  max-width: 250px;
  width: 100%;
}

section#about .contenedor .padre .caja p {
  font-family: "Sans";
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
}

section#contacto {
  background: #00002B;
  padding: 1%;
  padding-top: 3em;
}

section#contacto .contenedor .padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#contacto .contenedor .padre .izquierdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  text-align: center;
}

section#contacto .contenedor .padre .izquierdo h2 {
  font-size: 3em;
  font-family: 'Roboto';
  color: white;
}

section#contacto .contenedor .padre .izquierdo img {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

section#contacto .contenedor .padre .derecho {
  width: 50%;
}

section#contacto .contenedor .padre .derecho #formulario2 {
  padding: 4% 3% 4% 3%;
  background: white;
  border-radius: 15px;
  text-align: center;
}

section#contacto .contenedor .padre .derecho #formulario2 h2 {
  font-size: 3em;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 300;
  margin-top: 0.6em;
}

section#contacto .contenedor .padre .derecho #formulario2 #nombre,
section#contacto .contenedor .padre .derecho #formulario2 #correo,
section#contacto .contenedor .padre .derecho #formulario2 #mensaje {
  padding: 1.5%;
  margin-top: 1.6em;
  max-width: 500px;
  font-family: 'Roboto';
  font-size: 1.29em;
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid grey;
  width: 100%;
}

section#contacto .contenedor .padre .derecho #formulario2 .alert {
  display: none;
}

section#contacto .contenedor .padre .derecho #formulario2 input[type="submit"] {
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 1.4em;
  border-radius: 15px;
  font-family: 'Roboto';
  padding: 1.5% 10% 1.5% 10%;
  margin-top: 1em;
}

footer p {
  font-size: 1.2em;
  padding: 3%;
  text-align: center;
  font-family: 'Roboto';
}

@media screen and (max-width: 987px) {
  section#main .contenedor .padre .derecho {
    display: none;
  }
  section#main .contenedor .padre .izquierdo {
    width: 100%;
    padding: 1%;
    padding-bottom: 2em;
  }
  section#main .r {
    height: 100%;
  }
  header {
    padding: 0;
  }
  header .barra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .barraFixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav {
    display: none;
  }
  section#contacto {
    background: rgba(250, 250, 250, 0.89);
  }
  section#contacto .contenedor .padre .izquierdo {
    display: none;
  }
  section#contacto .contenedor .padre .derecho {
    width: 100%;
  }
  section#contacto .contenedor .padre .derecho h2 {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */