<div class="papa">
  <div class="der">
    <p>Registrar nuevo cargo</p>

    <input type="text" name="nombre" id="nombre" placeholder="Nombre del cargo" required>
    <br>
    <input type="radio" name="level" value="1">Nivel 1
    <input type="radio" name="level" value="2" checked>Nivel 2
    <input type="radio" name="level" value="3">Nivel 3
    <input type="radio" name="level" value="4">Nivel 4
    <br>
    <button (click)=" $event.stopPropagation();">Registrar cargo</button>

  </div>
  <div class="notifi">
    ¡Usuario insertado con éxito!
  </div>
  <div class="izq">
    <img src="assets/img/industry_experience.jpg" alt="">
  </div>
</div>
