<div class="papa">
  <div class="der">
    <div class="inicio" *ngIf="next == 0">
      <p>Registrar encuesta</p>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre de la encuesta" required>
      <br>
      <SELECT NAME="tipo" size="1" id="encuesta">
        <OPTION VALUE="Procesos">Procesos</OPTION>
        <OPTION VALUE="Documentos">Documentos</OPTION>
      </SELECT>
      <br>
      <div class="caja">
        <input type="checkbox" name="administrador">
        <label for="checkbox">Administradores</label>
        <input type="checkbox" name="coordinador">
        <label for="checkbox">Coordinador</label>
        <input type="checkbox" name="lider">
        <label for="checkbox">Líder de proceso</label>
        <input type="checkbox" name="usersn">
        <label for="checkbox">Usuarios demo</label>
      </div>


      <form action="#" class="ws-validate">
        <p>Ingrese la fecha límite</p>
        <div class="form-row show-inputbtns">
          <input id="date" type="date" data-date-inline-picker="false" data-date-popover='{
            "inline": true
          }' />
        </div>
        <div class="form-row">
          <!-- <input type="submit" />-->
        </div>
      </form>
      <br>
      <button (click)='guardarEncuesta();'>Nueva pregunta</button>
    </div>

    <div class="espacio" *ngIf='next == 1'>
      <p>Pregunta {{numero}} Ingrese el tipo de respuesta</p>
      <select name="tipoencuesta" id="tipo">
        <option value="tp1">Abierta</option>
        <option value="tp2">Selección múltiple con única respuesta</option>
        <option value="tp3">Selección múltiple</option>
      </select>
      <button (click)="obtenerTipo(); guardarTPregunta();">Continuar</button>
    </div>

    <div class="espacio2" *ngIf='next == 2'>
      <p>Ingrese la pregunta</p>
      <input type="text" name="Pregunta" id="Pregunta" placeholder="Ingrese la pregunta">
      <button (click)="guardarPregunta(); pregunta();">Registrar pregunta</button>
    </div>
    <div class="tipo" *ngIf="tipo == 0">

    </div>
    <div class="tipo" *ngIf="tipo == 2 || tipo == 1">
      <div class="espacio3" *ngIf="next == 3">
        <p>Ingrese la respuesta {{respuesta}} de 5</p>
        <input type="text" name="respuesta" id="respuesta">
        <button (click)="guardarRespuesta(1);">Guardar respuesta</button>
      </div>

      <div class="espacio4" *ngIf="next == 4">
        <p>Ingrese la respuesta {{respuesta}} de 5</p>
        <input type="text" name="respuesta" id="respuesta">
        <button (click)="guardarRespuesta(2);">Guardar respuesta</button>
      </div>

      <div class="espacio5" *ngIf="next == 5">
        <p>Ingrese la respuesta {{respuesta}} de 5</p>
        <input type="text" name="respuesta" id="respuesta">
        <button (click)="guardarRespuesta(3);">Guardar respuesta</button>
      </div>

      <div class="espacio6" *ngIf="next == 6">
        <p>Ingrese la respuesta {{respuesta}} de 5</p>
        <input type="text" name="respuesta" id="respuesta">
        <button (click)="guardarRespuesta(4);">Guardar respuesta</button>
      </div>

      <div class="espacio3" *ngIf="next == 7">
        <p>Ingrese la respuesta {{respuesta}} de 5</p>
        <input type="text" name="respuesta" id="respuesta">
        <button (click)="guardarRespuesta(5);">Guardar respuesta</button>
      </div>
    </div>
    <button *ngIf="listo" style="background: #1f4daf" (click)="guardarRespuesta(6); preparado = true;">Registrar pregunta</button>
    <button style="background: rgb(10, 209, 10)" *ngIf="preparado" (click)="aceptar()">Registrar encuesta</button>
  </div>

  <div class="notifi">
    ¡Encuesta insertada con éxito!
  </div>
  <div class="izq">
    <img src="assets/img/encuesta.png" alt="">
  </div>
</div>

<script>
  webshim.setOptions('forms-ext', {
    replaceUI: 'auto',
    types: 'date',
    date: {
      startView: 2,
      inlinePicker: true,
      classes: 'hide-inputbtns'
    }
  });
  webshim.setOptions('forms', {
    lazyCustomMessages: true
  });
  //start polyfilling
  webshim.polyfill('forms forms-ext');

  //only last example using format display
  $(function () {
    $('.format-date').each(function () {
      var $display = $('.date-display', this);
      $(this).on('change', function (e) {
        //webshim.format will automatically format date to according to webshim.activeLang or the browsers locale
        var localizedDate = webshim.format.date($.prop(e.target, 'value'));
        $display.html(localizedDate);
      });
    });
  });

</script>
