* {
  box-sizing: border-box;
  margin: 0;
}
.notifi {
  position: absolute;
  right: .5em;
  top: 5em;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  font-family: "Sans";
  font-weight: 300;
  background: #0ec20e;
  margin-top: -100%;
}


.padre {
  border-radius: 10px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-top: 1em;
  background: White;
  padding: 1%;
  h2 {
    font-size: 3em;
    font-family: 'Roboto';
    text-align: center;
    font-weight: 3300;
    margin-top:1em;
  }
  canvas{
    margin-top: 5em;
  }
  .contenedores {
    width: 100%;
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    margin-top: 1em;
    .est {
      width: 100%;
      max-width: 300px;
      padding: 1%;
      border-radius: 5px;
      text-align: center;
      background: rgba(73, 155, 234, 1);
      background: -moz-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(73, 155, 234, 1) 13%, rgba(32, 124, 229, 1) 57%, rgba(32, 124, 229, 1) 100%);
      background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(13%, rgba(73, 155, 234, 1)), color-stop(57%, rgba(32, 124, 229, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
      background: -webkit-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(73, 155, 234, 1) 13%, rgba(32, 124, 229, 1) 57%, rgba(32, 124, 229, 1) 100%);
      background: -o-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(73, 155, 234, 1) 13%, rgba(32, 124, 229, 1) 57%, rgba(32, 124, 229, 1) 100%);
      background: -ms-linear-gradient(-45deg, rgba(73, 155, 234, 1) 0%, rgba(73, 155, 234, 1) 13%, rgba(32, 124, 229, 1) 57%, rgba(32, 124, 229, 1) 100%);
      background: linear-gradient(135deg, rgba(73, 155, 234, 1) 0%, rgba(73, 155, 234, 1) 13%, rgba(32, 124, 229, 1) 57%, rgba(32, 124, 229, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1);
      margin-top: 1em;
      h4 {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.5em;
        margin-bottom: -1.5em;
        color: white;
        margin-top: 1em;
      }
      .desc {
        width: 100%;
        margin: 0;
        background: rgb(31, 88, 212);
        color: white;
        font-family: 'Roboto';
        font-weight: 300;
        padding: 3% 0.5%;
        font-size: 1.2em;
        transition: 1s linear;
        &:hover {
          background: rgb(5, 59, 177);
          cursor: pointer;
        }
      }
      .row {
        width: 100%;
        p {
          color: white;
          font-size: 1.5em;
          margin-bottom: 1em;
          font-family: 'Roboto';
        }
      }
    }
  }
}
