<div class="padre">
  <div class="contenedores">
    <div class="est">
      <h4>Encuesta #4564</h4>
      <div class="row">
        <div>
          <div class="test-circle"></div>
          <p>Completada</p>
        </div>
      </div>
      <div class="desc">
        Ver estadísticas
      </div>
    </div>
<div class="est">
  <h4>Encuesta #4564</h4>
  <div class="row">
    <div>
      <div class="test-circle"></div>
      <p>En curso</p>
    </div>
  </div>
  <div class="desc">
    lorem ipsum
  </div>
</div>

<div class="est">
  <h4>Encuesta #4564</h4>
  <div class="row">
    <div>
      <div class="test-circle"></div>
    </div>
  </div>
  <div class="desc">
    lorem ipsum
  </div>
</div>

<div class="est">
  <h4>Encuesta #4564</h4>
  <div class="row">
    <div>
      <div class="test-circle"></div>
    </div>
  </div>
  <div class="desc">
    lorem ipsum
  </div>
</div>

<div class="est">
  <h4>Encuesta #4564</h4>
  <div class="row">
    <div>
      <div class="test-circle"></div>
    </div>
  </div>
  <div class="desc">
    lorem ipsum
  </div>
</div>


  </div>
</div>
