<div class="padre" *ngIf="!lugar">
  <h2>Estadísticas</h2>
  <div class="contenedores">
    <br>
    <div class="est" *ngFor="let u of listado; let i = index">
      <h4>{{u.Nombre}}</h4>
      <div class="row">
        <div>
          <div class="test-circle" id="{{u.idEncuesta}}"></div>

          <p>Completada</p>
        </div>
      </div>
      <div class="desc" (click)="go(i)">
        Ver estadísticas
      </div>
      <span *ngIf="i+1 == max">
        {{ready()}}
      </span>
    </div>
  </div>
</div>
<div class="padre" *ngIf="lugar">
  <h2>Estadísticas por pregunta</h2>
  <div *ngFor="let i of idspreguntas; let f = index">

    <canvas id="{{i}}"></canvas>
    
    <span *ngIf="f == max2-1" id="inservible">
      {{loadGraphics()}}
    </span>

  </div>


</div>

<div class="notifi">
  ¡Usuario insertado con éxito!
</div>
