<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div id="bar">
  <div id="whth">
    <br>
    <br>

    <iframe src="assets/curso/index.php" frameborder="0"></iframe>

 
  </div>
</div>
<!--
<div class="general">
  <div class="inside">
    <div class="slider">
      <button class="bttn">
        <div id="word">
          <p class="far fa-file-word fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 1</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="pdf">
          <p class="far fa-file-pdf fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 2</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="excel">
          <p class="far fa-file-excel fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 3</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="word">
          <p class="far fa-file-word fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 4</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="excel">
          <p class="far fa-file-excel fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 5</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="pdf">
          <p class="far fa-file-pdf fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 6</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="pdf">
          <p class="far fa-file-pdf fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 7</p>
        </div>
      </button>
      <br/>
      <button class="bttn">
        <div id="word">
          <p class="far fa-file-word fa-2x" style="color: white"></p>
        </div>
        <div id="nme">
          <p>Documento 8</p>
        </div>
      </button>
      <br/>
    </div>
    <div id="search">
      <input type="text" name="Doc" id="smyh" placeholder="Documento">
    </div>
  </div>
</div>-->