.papa {
  width: 100%;
  max-width: 1200px;
  background: white;
  margin: auto;
  border-radius: 10px;
  padding: 2%;
  margin-top: 1em;
  display: flex;
  font-family: "Sans";
  font-weight: 300;
  transition: 1s linear;
}

.papa .izq {
  text-align: center;
  width: 50%;
}

.papa .izq h2 {
  font-family: "Sans";
  font-weight: 300;
  font-size: 2em;
}

.papa .izq .botton {
  font-size: 1em;
}

.papa .izq .botton p {
  font-size: 1em;
}

.papa .izq .botton {
  background: black;
  padding: 1.5%;
  max-width: 350px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  color: white;
  transition: 1s linear;
}

.papa .izq .botton:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

.papa .izq input[type="number"] {
  padding: 2%;
  width: 100%;
  max-width: 300px;
  border: 1px solid transparent;
  font-size: 1em;
  border-bottom: 1px solid black;
}

.papa .izq form button {
  background: black;
  color: white;
  border: 1px solid white;
  padding: 2%;
  font-size: 1em;
  font-family: "Sans";
  font-weight: 300;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.papa .der {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 50%;
  border-left: 1px solid #5a5a5a;
}

.papa .info {
  margin-top: 1.5em;
}

.papa .info .cargo, .papa .info .sec {
  padding: .5%;
  font-size: 1em;
  font-family: "Sans";
  font-weight: 300;
}

.papa .info input[type="text"],
.papa .info input[type="email"],
.papa .info input[type="number"] {
  width: 100%;
  max-width: 450px;
  margin-top: 1%;
  margin-bottom: 1.5%;
  padding: 1%;
  font-size: 1em;
  font-family: "Sans";
  font-weight: 300;
  border: 1px solid transparent;
  border-bottom: 1px solid #616161;
}

.papa .info input[type="radio"] {
  margin-bottom: 1em;
  margin-top: 1em;
}

.papa .info input[type="submit"] {
  font-size: 1em;
  font-family: "Sans";
  font-weight: 300;
  background: black;
  padding: 2%;
  border-radius: 5px;
  width: 100%;
  max-width: 450px;
  color: black;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.papa .info select {
  font-size: 1em;
  font-family: "Sans";
  font-weight: 300;
  padding: 1%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.papa .info button {
  background: black;
  color: white;
  padding: 1.5%;
  border: 1px solid white;
  width: 100%;
  max-width: 400px;
  font-size: 1em;
  border-radius: 10px;
}

.notifi {
  position: absolute;
  right: .5em;
  top: 5em;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  font-family: "Sans";
  font-weight: 300;
  background: #0ec20e;
  margin-top: -100%;
}