* {
  box-sizing: border-box;
}

.papa {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: white;
  border-radius: 2%;
  margin-top: 1em;
  display: flex;
  padding: 2%;
  .der {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border-left: 1px solid rgba(139, 135, 135, .7); //  background-size: cover;
    img{
        width: 100%;
    }
}
  .izq {
    padding: 2%;
    width: 50%;
    text-align: center;
    input[type="number"] {
      width: 100%;
      max-width: 450px;
      margin-top: 1%;
      margin-bottom: 1.5%;
      padding: 1%;
      font-size: 1em;
      font-family: "Sans";
      font-weight: 300;
      border: 1px solid transparent;
      border-bottom: 1px solid rgb(97, 97, 97);
    }
    h2 {
      font-size: 2em;
      font-family: "Sans";
      font-weight: 300;
    }
    .botton {
      background: black;
      padding: 1.5%;
      max-width: 350px;
      border-radius: 10px;
      margin: auto;
      margin-top: 10px;
      color: white;
      font-size: 1em;
      font-family: "Sans";
      font-weight: 300;
      transition: 1s linear;
      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
      }
    }
    .info {
      margin-top: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: space-between;
      align-items: center;
      width: 100%;
      color: white;
      font-family: "Sans";
      font-weight: 300;
      font-size: 1em;
      .block {
        width: 40%;
        background: rgb(255, 0, 0);
        padding: 3%;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }
      .allow {
        width: 40%;
        background: rgb(8, 255, 8);
        padding: 3%;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

.notifi {
  position: absolute;
  right: .5em;
  top: 5em;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  font-family: "Sans";
  font-weight: 300;
  background: rgb(14, 194, 14);
  margin-top: -100%;
}

@media screen and (max-width: 800px) {
  .papa {
    .der {
      display: none;
    }
    .izq {
      width: 100%;
      h2 {
        font-size: 1.4em;
      }
    }
  }
}

