<div class="papa">
  <div class="der">
    <p>Registrar seccional</p>

    <input type="text" name="nombre" id="nombre" placeholder="Nombre de la seccional" required>
    <br>
<select name="country" class="countries" id="countryId">
<option value="">Select Country</option>
</select>
<select name="state" class="states" id="stateId">
<option value="">Select State</option>
</select>
<select name="city" class="cities" id="cityId">
<option value="">Select City</option>
</select>
<button>Registrar seccional</button>

</div>
<div class="notifi">
  ¡Seccional insertada con éxito!
</div>
<div class="izq">
  <img src="assets/img/find_us.jpg" alt="">
</div>
</div>

