<div class="papa">
  <div class="izq">
    <h2>
      Buscar usuario
    </h2>
      <input type="number" name="cc" id="cc" required placeholder="Cédula del usuario">
      <div class="botton" (click)="lock(1)">
        Buscar
      </div>

    <div class="info">
      <div class="block" *ngIf="user == 'Activo'" (click)="lock(2)">
        Bloquear usuario
      </div>
      <div class="allow" *ngIf="user == 'Desactivado'" (click)="lock(3)">
        Desbloquear usuario
      </div>
    </div>
  </div>

  <div class="der">
    <div class="img">

      <img src="assets/img/lock.png" alt="">
    </div>
  </div>

</div>
<div class="notifi">
  ¡Usuario insertado con éxito!
</div>
