<div class="papa">
  <div class="izq">
    <h2>
      Buscar usuario
    </h2>
    <form>
      <input type="number" name="cc" id="cc" required placeholder="Cédula del usuario">
      <div class="botton">
        Buscar
      </div>
    </form>

    <div class="info">
      <div class="block">
        Bloquear usuario
      </div>
      <div class="allow">
        Desbloquear usuario
      </div>
    </div>
  </div>

  <div class="der">
    <div class="img">

      <img src="assets/img/lock.png" alt="">
    </div>
  </div>

</div>
<div class="notifi">
  ¡Usuario insertado con éxito!
</div>
