* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Awesome";
  src: url("../assets/fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("../assets/fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url("../assets/fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fuentes/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Awesome";
  src: url("../assets/fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

body {
  margin: 0;
}

.error {
  display: none;
}

.left {
  float: left;
}

main {
  display: flex;
}

main .lat {
  width: 8%;
  background: #1f4daf;
  height: 100vh;
  text-align: center;
  max-width: 3.2em;
  min-width: 3.1em;
  position: fixed;
}

main .lat a#m1 {
  margin-top: 10%;
}

main .lat img {
  width: 10%;
  margin: auto;
  padding: 1%;
  min-width: 50px;
  max-width: 60px;
  bottom: 0;
  position: fixed;
  overflow: hidden;
}

main .lat .info {
  position: fixed;
  bottom: -0.5em;
  color: white;
  font-family: "Roboto";
  display: none;
  left: 3em;
}

main .lat a button {
  width: 100%;
  background: transparent;
  color: white;
  border-color: transparent;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 8%;
}

main .lat a button span {
  font-family: "Awesome";
  font-size: 1.5em;
}

main .lat a button i {
  display: none;
  font-weight: 300;
  font-family: "Sans";
}

main .lat a button:hover {
  background: rgba(36, 35, 35, 0.9);
  cursor: pointer;
}

main .lat a button:focus {
  background: rgba(0, 0, 0, 0.9);
}

main .der {
  width: 100%;
  margin-left: 3.2em;
}

main .der .desk1, main .der .desk2, main .der .desk3 {
  width: 100%;
}

main .der .user {
  flex-direction: column;
  background-color: black;
  width: 100%;
}

main .der .user .img {
  background-image: url("../assets/img/man.png");
  background-size: cover;
  background-position: center;
  border-radius: 100em;
  width: 2em;
  height: 2em;
}

main .der .user .img img {
  width: 50%;
}

main .der .user .name {
  display: flex;
  width: 100%;
  height: 100%;
}

main .der .user .name .conte {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 0.6%;
  color: white;
  font-family: "Sans";
}

main .der .user .name .conte span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 0.5em;
}

@media screen and (max-width: 1400px) {
  main {
    /*  .der {
      /*.user {
        max-height: 75px;
        .img {
          border-radius: 80em;
          left: 3.2em;
          bottom: -3.2em;
          width: 6.4em;
          height: 6.4em;
        }
        .name {
          .conte {
            max-height: 75px;
          }
          h2 {
            font-size: 1.2em;
          }
        }
      }
    }*/
  }
  main .lat img {
    width: 5%;
    min-width: 40px;
    max-width: 50px;
  }
  main .lat a button {
    font-size: 1.2em;
  }
  main .lat a button span {
    font-size: 1.1em;
  }
}

@media screen and (max-height: 800px) {
  main .lat a button {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 525px) {
  main {
    display: none;
  }
  body {
    background: black;
  }
  .error {
    display: block;
    width: 100%;
    height: 100vh;
    background: white;
  }
  .error .contenedor {
    color: black;
    text-align: center;
    padding: 10%;
  }
  .error .contenedor img {
    width: 50%;
  }
  .error .contenedor h2 {
    font-family: "Sans";
    font-weight: 300;
    font-size: 3em;
  }
  .error .contenedor p {
    font-family: "Sans";
    font-weight: 300;
    font-size: 1.28em;
  }
}
/*# sourceMappingURL=app.component.css.map */