<!--The content below is only a placeholder and can be replaced.-->
<main>
  <div class="lat">
    <img src="assets/img/small.png" alt="">
    <div class="info">
      <p>SGC v0.1(a)</p>
    </div>
    <a href="#" id="m1">
      <button (click)="menu()">
        <span></span> <i>Menú</i>
      </button>
    </a>
    <a href="#">
      <button (click)="showDesk(1)">
        <span></span> <i>Inicio</i>
      </button>
    </a>
    <a href="#">
      <button (click)="showDesk(3)">
        <span></span> <i>Gestión de usuarios</i>
      </button>
    </a>
    <a href="#">
      <button (click)="showDesk(2)">
        <span></span> <i>Gestión de procesos</i>
      </button>
    </a>
    <a href="#">
      <button (click)="showDesk(4)">
        <span></span> <i>Administrar seccionales y cargos</i>
      </button>
    </a>
  </div>
  <div class="der">
    <div class="user">
      <div class="name">
        <div class="conte" *ngFor="let item of listado">
          <a href="#">
              <button (click)="showDesk(5)">    
                <span>{{item.nombre}} {{item.apellido}}</span>
                <div class="img">
                  </div>
              </button>
            </a>
        </div>
      </div>
    </div>
    <div *ngIf="desk == 1" class="desk1">
      <app-desktop1></app-desktop1>
    </div>
    <div *ngIf="this.desk == 2" class="desk2">
      <app-desktop2></app-desktop2>
    </div>
    <div *ngIf="desk == 3" class="desk3">
      <app-desktop3></app-desktop3>
    </div>
    <div *ngIf="desk == 4" class="desk3">
      <app-desktop4></app-desktop4>
    </div>
    <div *ngIf="desk == 5" class="desk3">
      <app-desktop5></app-desktop5>
    </div>
  </div>
</main>

<div class="error">
  <div class="contenedor">
    <h2>Lo sentimos</h2>
    <img src="assets/img/018-puzzle.png" alt="">
    <p>No está permitido el uso del aplicativo en dispositivos con pantalla pequeña.</p>
  </div>
</div>
