<!--The content below is only a placeholder and can be replaced.-->
<main>
  <div class="lat">
    <img src="assets/img/small.png" alt="">
    <div class="info">
      <p>SGC v0.1(a)</p>
    </div>
    <a href="#" id="m1">
      <button (click)="menu()">
        <span></span> <i>Menú</i> </button>
    </a>
    <a href="#">
      <button (click)="showDesk(1)">
        <span></span> <i>Iniciar</i></button>
    </a>
    <a href="#">
      <button (click)="showDesk(2)">
        <span></span> <i>Cuenta</i></button>
    </a>
    <a href="#">
      <button (click)="showDesk(3)">
        <span></span> <i>Gestionar</i></button>
    </a>
    <a href="#">
      <button>
        <span></span> <i>Cerrar sesión</i> </button>
    </a>


  </div>
  <div class="der">
    <div class="user">
      <div class="img">
      </div>
      <div class="name">
        <div class="conte">
          <h2>{{nombre}}
            <br>
            <span>{{cargo}}</span>
          </h2>

        </div>
      </div>
    </div>
    <div *ngIf="desk == 1" class="desk1">
      <h2>PRIMER ESCRITORIO ACTIVADO</h2>

    </div>
    <div *ngIf="this.desk == 2" class="desk2">
      <h2>SEGUNDO ESCRITORIO ACTIVADO</h2>
    </div>
    <div *ngIf="desk == 3" class="desk3">
      <h2>TERCER ESCRITORIO ACTIVADO</h2>
    </div>


  </div>
</main>
<div class="error">
  <div class="contenedor">
    <h2>Lo sentimos</h2>
    <img src="assets/img/018-puzzle.png" alt="">
    <p>No está permitido el uso del aplicativo en dispositivos con pantalla pequeña.</p>
  </div>
</div>

