* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Awesome";
  src: url("../assets/fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Sans";
  src: url("../assets/fuentes/Sans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Josefin";
  src: url("../assets/fuentes/Josefin/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Great";
  src: url("../assets/fuentes/GreaVibes/GreatVibes-Regular.ttf?#iefix") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fuentes/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Awesome";
  src: url("../assets/fuentes/Awesome/fontawesome-webfont.ttf") format("truetype");
}

body {
  margin: 0;
}

main {
  display: flex;
  .lat {
    width: 8%;
    background: #1f4daf;
    height: 100vh;
    text-align: center;
    max-width: 62px;
    min-width: 60px;
    a#m1{
      margin-top: 10%;
    }
    img {
      width: 10%;
      margin: auto;
      padding: 1%;
      min-width: 50px;
      max-width: 60px;
      bottom: 0;
      position: fixed;
      overflow: hidden;
    }
    a {
      button {
        width: 100%;
        background: transparent;
        color: white;
        border-color: transparent;
        margin-top: 20%;
        margin-bottom: 20%;
        padding: 10%;
        span {
          font-family: "Awesome";
          font-size: 1.5em;
        }
        i {
          display: none;
        }
        &:hover {
          background: rgba(36, 35, 35, .9);
          cursor: pointer;
        }
      }
    }
  }
  .der {
    width: 100%;
    .user {
      position: relative;
      flex-direction: column;
      background-color: rgb(0, 0, 0);
      width: 100%;
      max-height: 100px;
      .img {
        position: absolute;
        background-image: url('../assets/img/man.png');
        background-size: cover;
        background-position: center;
        border-radius: 100em;
        left: 4em;
        bottom: -5em;
        width: 10em;
        height: 10em;
        img {
          width: 50%;
        }
      }
      .name {
        display: flex;
        width: 100%;
        justify-content: right;
        height: 100%;
        align-items: center;
        .conte {
          width: 100%;
          height: 100%;
          max-height: 100px;
          text-align: right;
          padding-right: 1%;
                   color: white;
          font-family: "Sans";
          text-transform: uppercase;
          h2 {
            font-weight: 300;
            span {
              font-size: 0.78em;
            }
          }
        }
      }
    }
    .desk1,
    .desk2,
    .desk3 {
      margin-top: 5em;
      max-height: 49.2em;
      height: 100%;
      padding: 2%;
      h2 {
        color: white;
        text-align: center;
        font-size: 2em;
        font-family: "Sans";
        font-weight: 300;
      }
    }
    .desk1 {
      background: blue;
    }
    .desk2 {
      background: black;
    }
    .desk3 {
      background: green;
    }
  }
}

@media screen and (max-width: 1400px) {
  main {
    .lat {

      a {
        button {
          font-size: 1.2em;
        }
      }
    }
    .der {
      .buscador {
        padding: 0.5%;
        input[type="text"] {
          padding: 0.3%;
          font-size: 1em;
        }
      }
      .user {
        height: 6em;
        .img {
          border-radius: 80em;
          left: 4em;
          bottom: -4em;
          width: 8em;
          height: 8em;
        }
        .name {
          padding: 2%;
          h2 {
            font-size: 1.2em;
          }
        }
      }
      .desk1,
      .desk2,
      .desk3 {
        margin-top: 4.2em;
        max-height: 859px;
        height: 100%;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  main {
    .lat {

      a {
        button {
          font-size: 1.2em;
        }
      }
    }
    .der {
      .desk1,
      .desk2,
      .desk3 {
        max-height: 445px;
        height: 100%;
        color: white;
        padding: 2%;
        text-align: center;
      }
      .desk1 {
        background: blue;
      }
      .desk2 {
        background: black;
      }
      .desk3 {
        background: green;
      }
    }
  }
}
