* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1.2px 3px 0px rgba(0, 0, 0, 0.75);
}

main .contenedor .quehay {
  width: 65%;
  background: white;
}

main .contenedor .quehay h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 1%;
  margin: 0;
  font-family: 'Sans';
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}

main .contenedor .padre {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .contenedor .padre a {
  text-decoration: none;
}

main .contenedor .padre a .color2 {
  border: 1px solid transparent;
  background: #1f4daf;
}

main .contenedor .padre a .color2:focus {
  background: rgba(0, 0, 0, 0.9);
}

main .contenedor .padre a .color2:hover {
  background: black;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  cursor: pointer;
}

main .contenedor .padre a .color2:hover p#comuni {
  display: block;
}

main .contenedor .padre a .color2:active {
  background: black;
}

main .contenedor .padre a .color2 p#name {
  background: #1E88E5;
}

main .contenedor .padre a .color2 p#comuni {
  position: absolute;
  font-size: 0.25em;
  margin-top: 3.45em;
  font-family: Roboto;
  color: black;
  display: none;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

main .contenedor .padre a .color {
  background: #FF0022;
}

main .contenedor .padre a .color p#name {
  background: #651FFF;
}

main .contenedor .padre a .boton1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Awesome";
  font-size: 3.8em;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
}

main .contenedor .padre a .boton1 p#icon {
  margin: 0;
}

main .contenedor .padre a .boton1 p#icon img {
  width: 22%;
  min-width: 37px;
}

main .contenedor .padre a .boton1 p#name {
  margin: 0;
  font-size: 0.3em;
  padding: 1.5%;
  padding-right: 0.3em;
  padding-left: 0.3em;
  font-family: "Sans";
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  main .contenedor .quehay {
    display: none;
  }
  main .contenedor .padre {
    width: 100%;
  }
}
/*# sourceMappingURL=desktop3.component.css.map */