<main>
  <div class="contenedor">
    <div class="padre">
      <a href="">
        <div class="boton1 color2">
           <p id="icon"><img src="assets/img/group-1.png" alt=""></p>
           <p id="name">Estadísticas</p>
        </div>
      </a>
      <a href="">
        <div class="boton1 color">
          <p id="icon"><img src="assets/img/user-10.png" alt=""></p>
          <p id="name">Configuración</p>
        </div>
      </a>
      <a href="">
        <div class="boton1 color3">
          <p id="icon"><img src="assets/img/user-2.png" alt=""></p>
          <p id="name">Añadir usuario</p>
        </div>
      </a>

    </div>
  </div>
</main>
