<main>
  <div class="contenedor">
    <div class="quehay">
      <h1>
        Bienvenido a la gestión de usuarios
      </h1>
    </div>
    <div class="padre">
      <a (click)="semidesk = 1">
        <div class="boton1 color2">
           <p id="icon"><img src="assets/img/group-1.png" alt=""></p>
          <p id="comuni">Ver usuarios</p>
        </div>
      </a>
      <a  (click)="semidesk = 2">
        <div class="boton1 color2">
          <p id="icon"><img src="assets/img/user-10.png" alt=""></p>
          <p id="comuni">Modificar usuario</p>
        </div>
      </a>
      <a  (click)="semidesk = 3">
        <div class="boton1 color2">
          <p id="icon"><img src="assets/img/user-2.png" alt=""></p>
          <p id="comuni">Añadir usuario</p>
        </div>
      </a>
      <a  (click)="semidesk = 4">
        <div class="boton1 color2">
          <p id="icon">
            <img src="assets/img/user-8.png" alt="">
          </p>
          <p id="comuni">Bloquear usuario</p>
          <!--  <p id="name">Añadir</p>-->
        </div>
      </a>
      <a  (click)="semidesk = 5">
        <div class="boton1 color2">
          <p id="icon">
            <img src="assets/img/user-17.png" alt="">
          </p>
          <p id="comuni">Comunicarse con un usuario</p>
          <!--  <p id="name">Añadir</p>-->
        </div>
      </a>
    </div>
  </div>
  <div class="content" *ngIf="semidesk == 1">
    <app-searchuser></app-searchuser>
  </div>
  <div class="content" *ngIf = "semidesk == 3">
    <app-insertuser></app-insertuser>
  </div>
    <div class="content" *ngIf = "semidesk == 2">
    <app-updateuser></app-updateuser>
  </div>
</main>
