 <div id="padre">
    <h2>Buscar usuarios</h2>
    <form id = "form">
      <input type="text" name="user" id="nombreU" placeholder="Identificación"><br>
      <input type="checkbox" name="usersn" id="">
      <label for="checkbox">Usuarios demo</label>
      <input type="checkbox" name="empleados" id="">
      <label for="checkbox">Coordinador</label>
      <input type="checkbox" name="administradr" id="">
      <label for="checkbox">Administradores</label>
      <input type="checkbox" name="lider" id="">
      <label for="checkbox">Líder de proceso</label>
      <br>
      <div id = "submit"(click)="test($event)">Buscar</div>
    </form>
    <table>
      <tr *ngIf="datostabla == 1">
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Número</th>
        <th>Seccional</th>
        <th>Sexo</th>
      </tr>
      <tr *ngFor="let item of listado" >
        <td>{{item.cedula}} </td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.email}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.numero}}</td>
        <td>{{item.idSeccional}}</td>
        <td>{{item.sexo}}</td>
      </tr>
    </table>
  </div>
  <div class="notifi">
    ¡Usuario insertado con éxito!
  </div>

