div#padre {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: white;
  margin-top: 1em;
  padding: 1%;
  //-webkit-box-shadow: 0px -1px 0px 5px rgba(128, 126, 128, 1);
  //-moz-box-shadow: 0px -1px 0px 5px rgba(128, 126, 128, 1);
  //box-shadow: 0px -1px 0px 2px rgba(128, 126, 128, 1);
  border-radius: 1em;
  h2 {
    font-family: "Sans";
    font-weight: 300;
    text-align: center;
    padding: 0.5%;
    font-size: 2em;
  }
  input[type="text"]{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0.5%;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    margin-bottom: 1%;
  }
  div#submit
  {
    background: black;;
    color: white;
    margin: auto;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.7%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0.7%;
    max-width: 200px;
    font-size: 1.1em;
    font-family: "Roboto";
    margin-bottom: 1em;
    cursor: pointer;
  }
  input[type="checkbox"]{
    background: white;
    border: 1px solid black;
    width: 50px;
  }
  label{

    font-size: 1.25em;
    font-family: "Roboto";
  }
  table{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    font-size: 1em;
    font-family: "Roboto";
    font-weight: 300;
    border-collapse: collapse;
    text-align: center;
    margin-top: 1em;

    tr,th{
      padding: 1%;
      border-bottom: 1px solid black;

    }
    th{
      background: rgb(13, 13, 94);
      color: white;
    }
    th,td{
      border: 1px solid black;
      padding: 1%;
      //      background: rgb(38, 104, 204);
    }

  }
  #form{
    text-align: center;
  }
}

.notifi {
  position: absolute;
  right: .5em;
  top: 5em;
  padding: 1.5%;
  color: white;
  border-radius: 5px;
  font-family: "Sans";
  font-weight: 300;
  background: rgb(14, 194, 14);
  margin-top: -10em;
}


