
  <div id="padre">
    <h2>Buscar usuarios</h2>
    <form action="" id = "form">
      <input type="text" name="user" id="nombreU" placeholder="Identificación"><br>
      <input type="submit" text="Buscar" value = "Buscar"><br>
      <input type="checkbox" name="" id="">
      <label for="checkbox">Usuarios normales</label>
      <input type="checkbox" name="empleados" id="">
      <label for="checkbox">Empleados</label>
      <input type="checkbox" name="administradr" id="">
      <label for="checkbox">Administradores</label>
    </form>
    <table>
      <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Número</th>
        <th>Seccional</th>
        <th>Sexo</th>
      </tr>
      <tr>
        <td>1012456 </td>
        <td>Andres</td>
        <td>argo</td>
        <td>Email</td>
        <td>Teléfono</td>
        <td>Dirección</td>
        <td>Número</td>
        <td>Seccional</td>
        <td>Sexo</td>
      </tr>
    </table>
  </div>

