.mayor {
    width: 100%;
    max-width: 1200px;
    background: white;
    margin: auto;
    border-radius: 10px;
    padding: 2%;
    margin-top: 1em;
    display: flex;
    font-family: "Sans";
    font-weight: 300;
    transition: 1s linear;
  }

  .mayor .botton {
    font-size: 1em;
  }
  
  .mayor .botton p {
    font-size: 1em;
  }
  
  .mayor .botton {
    background: black;
    padding: 1.5%;
    max-width: 350px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    color: white;
  }