<div class="papa">
  <div class="der">
    <p>Registrar usuario</p>
    <form method="POST" action="../php/register.php" id="formulario" enctype='application/json'>
      <input type="number" name="cedula" id="cedula" placeholder="Cedula" required>
      <input type="text" name="nombre" id="" placeholder="Nombres" required>
      <input type="text" name="apellido" id="" placeholder="Apellidos" required>
      <input type="email" name="correo" id="" placeholder="Correo electrónico" required>
      <input type="number" name="telefono" id="" placeholder="Teléfono" required>
      <input type="text" name="direccion" id="" placeholder="Dirección" required>
      <input type="number" name="numero" id="" placeholder="Número fijo" required>
      <br>
      <input type="radio" name="gender" value="male" checked> Male
      <input type="radio" name="gender" value="female"> Female
      <input type="radio" name="gender" value="other"> Other
      <br>
      <select>
        <option *ngFor="let item of listado" value="kieroiraksa">{{item.nombre}} - {{item.nivel}}</option>
      </select>
      <select>
        <option *ngFor="let item of listado2" value="kieroiraksa2">{{item.pais}} - {{item.ciudad}}</option>
      </select>
      <input type="submit" value="Registrar" (click)="send()">
    </form>
  </div>
  <div class="notifi">
    ¡Usuario insertado con éxito!
  </div>
  <div class="izq">
    <img src="../../../assets/img/about_us.jpg" alt="">
  </div>
</div>
